.photo {
  font-family: $font;
  background-color: $color-background-light;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__block-text {
  display: flex;
  flex-direction: column;
  background-color: $color-background-dark;
}

.photo__name {
  @include text-style-base(14px, 700, 24px, $color-text-base);
}

.photo__time {
  @include text-style-base(12px, 300, 24px, $color-text-base);
  text-transform: uppercase;
}

.photo__comment {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
}

.photo__like-text {
  @include text-style-base(14px, 400, 24px, $color-brand);
  text-transform: uppercase;
}

.photo__like-number {
  @include text-style-base(14px, 400, 24px, $color-brand);
}

.photo__appeal {
  @include text-style-base(14px, 400, 30px, $color-text-base);
}
