.achievements {
  align-items: flex-start;
  padding: 40px 0 40px;
  background-color: $color-background-dark;

  @media (min-width: $tablet-width) {
    order: 4;
    align-items: flex-start;
    padding: 50px 60px;
    border: 2px solid $color-grey;
    background-color: $color-background-light;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 1;
    flex-wrap: wrap;
    height: 235px;
  }
}
