.advantages {
  font-family: $font-base;
  background-color: $color-background-dark;
}

.advantages__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

.advantages__text {
  @include text-style-base(24px, 300, 1.2, $color-text-base);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(40px, 300, 1.2, $color-text-base);
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-base);
    padding-left: 10px;
    padding-right: 10px;
  }

  &:first-of-type {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    max-width: 450px;
  }
}

.advantages__wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin-top: 75px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin-bottom: 30px;
    max-width: 255px;

    &:not(:last-of-type) {
      margin-right: 70px;
    }
  }
}

.advantages__item-title {
  @include text-style-base(18px, 700, 24px, $color-black);
  margin: 0;
  margin-bottom: 15px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(30px, 700, 30px, $color-black);
    text-align: center;
  }
}

.advantages__item-description {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    margin-bottom: 0;
    text-align: center;
  }
}

.advantages__wrapper-image {
  overflow-y: hidden;

  @media (min-width: $tablet-width) {
    min-width: 270px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    width: 100%;
  }
}

.advantages__image {
  align-self: center;
  margin-bottom: -40px;
  width: 157px;

  @media (min-width: $tablet-width) {
    margin-bottom: -65px;
    min-width: 268px;
  }

  @media (min-width: $desktop-width) {
    min-width: 186px;

    &:not(:last-of-type) {
      margin-right: 135px;
    }
  }

  &--pink {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--normal {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
