.advantages {
  font-family: $font-base;
  background-color: $color-background-light;
}

.advantages__wrapper-text {
  min-height: 217px;
  background-color: $color-background-light;
}

.advantages__text {
  @include text-style-base(24px, 300, 1.2, $color-text-base);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(40px, 300, 1.2, $color-text-base);
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-base);
  }
}

.advantages__wrapper {
  background-color: $color-background-dark;
}

.advantages__wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 785px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.advantages__item-title {
  @include text-style-base(18px, 700, 24px, $color-black);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(30px, 700, 30px, $color-black);
    text-align: center;
  }
}

.advantages__item-description {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    text-align: center;
  }
}

.advantages__wrapper-image {
  display: flex;
}

.advantages__image {
  width: 157px;
  height: 330px;

  &--pink {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--friends {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
