.advantages {
  position: relative;
  font-family: $font-base;
  background-color: $color-background-dark;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 184px;
    left: 0;
    width: 100%;
    height: 33vw;
    background: linear-gradient(176deg, rgb(254, 254, 254) 46%, rgb(242, 242, 242) 0%);

    @media (min-width: $tablet-width) {
      top: 200px;
      height: 22vw;
    }

    @media (min-width: $desktop-width) {
      top: 253px;
    }
  }
}

.advantages__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 31px;
  width: 100%;
  min-height: 200px;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 79px;
  }
}

.advantages__text {
  @include text-style-base(24px, 300, 1.2, $color-text-base);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;

  @media (min-width: $tablet-width) {
    @include text-style-base(40px, 300, 1.2, $color-text-base);
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-base);
    padding-left: 10px;
    padding-right: 10px;
  }

  &:first-of-type {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    max-width: 450px;
  }
}

.advantages__wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 83px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin-top: 53px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0 30px;
    width: 100%;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  z-index: 5;

  &:last-of-type {
    max-width: 261px;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    max-width: 310px;
    margin-bottom: 0;

    &:last-of-type {
      max-width: 310px;
      margin-bottom: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin-bottom: 30px;
    max-width: 245px;

    &:last-of-type {
      max-width: 235px;
    }

    &:not(:last-of-type) {
      margin-right: 76px;
    }
  }
}

.advantages__item-title {
  @include text-style-base(18px, 700, 24px, $color-black);
  margin: 0;
  margin-bottom: 14px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 700, 18px, $color-black);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(30px, 700, 30px, $color-black);
    text-align: center;
    margin-bottom: 24px;
    max-width: 245px;

    &:last-of-type {
      max-width: 235px;
    }
  }
}

.advantages__item-description {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    margin-bottom: 0;
    text-align: center;
    max-width: 245px;
  }

  &--last {
    @media (min-width: $tablet-width) {
      margin-bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.advantages__wrapper-image {
  z-index: 2;
  overflow: hidden;
  height: 279px;

  @media (min-width: $tablet-width) {
    min-width: 270px;
    height: 482px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    width: 100%;
    height: 310px;
  }
}

.advantages__image {
  align-self: center;
  width: 157px;
  height: 330px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    width: 290px;

    &:not(:last-of-type) {
      margin-right: 135px;
    }
  }

  &--pink {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--normal {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
