.background__dark {
  width: 100%;
  background-color: $color-background-dark;

  &--research {
    @media (min-width: $tablet-width) {
      background-color: $color-background-light;
    }

    @media (min-width: $desktop-width) {
      background-color: $color-background-dark;
    }
  }
}
