.contacts {
  min-height: 612px;
  font-family: $font-base;
  background-color: $color-background-light;
}

.contacts__text {
  @include text-style-base(24px, 300, 1.2, $color-secondary);
  margin: 0;
  text-align: center;
}

.contacts__address {
  @include align-block;
  min-height: 412px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  @include text-style-base(18px, 700, 1.2, $color-black);
  margin: 0;
  font-style: normal;
  text-align: center;
}

.contacts__tel {
  @include text-style-base(24px, 300, 1.2, $color-brand);
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

.contacts__email {
  @include text-style-base(24px, 300, 1.2, $color-brand);
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

.contrasts__location {
  @include text-style-base(24px, 300, 1.2, $color-brand);
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 778px;
  }

  .contacts__address {
    min-height: 408px;
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__item {
    flex-shrink: 1;
    flex-basis: 280px;

    &:last-of-type {
      flex-shrink: 0;
      flex-basis: 620px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 870px;
  }

  .contacts__address {
    min-height: 366px;
  }

  .contacts__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .contacts__item {
    flex-shrink: 0;
    flex-basis: 310px;

    &:last-of-type {
      flex-shrink: 1;
      flex-basis: 310px;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 2;
    }
  }
}
