.container {
  @include align-block;
}

.container__fix {
  @include align-block;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.container__inner {
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $desktop-width) {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--mobile-only {
    background-color: $color-background-dark;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
