.download {
  font-family: $font-base;
  background-color: #1d2631;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 260px 286px, cover;
  background-position: bottom 270px center, bottom;
  background-repeat: no-repeat, no-repeat;

  @media (min-width: $tablet-width) {
    background-size: auto 547px, cover;
    background-position: bottom right 20px, bottom;
  }

  @media (min-width: $desktop-width) {
    background-size: auto 547px, cover;
    background-position: bottom right 50px, bottom;
  }
}

.download__container {
  @media (max-width: 659px) {
    padding: 0;
    width: 100%;
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: center;
    min-height: 620px;
  }

  @media (min-width: $desktop-width) {
    min-height: 745px;
  }
}



.download__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 396px;
  width: 100%;
  min-height: 271px;
  background-color: #1d2631;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: 0;
    margin-right: auto;
    width: 300px;
    min-height: 420px;
    background-color: rgba(#1d2631, 0);
  }

  @media (min-width: $tablet-width) {

  }
}

.download__tagline {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text-style-base(40px, 300, 1.2, $color-text-light);
    display: block;
    width: 195px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-light);
  }
}

.download__link {
  min-width: 274px;
  height: 51px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 294px;
  }
}

.download__store-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.download__description {
  @include text-style-base(14px, 300, 24px, $color-text-light);
  width: 240px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 300, 24px, $color-text-light)
    width: 300px;
  }
}
