.download {
  font-family: $font-base;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: 320px 462px;
  background-position: top;
  background-position-y: -66px;
  background-repeat: no-repeat;
  background-color: #2c3c4c;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: 321px) {
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;
    background-position-y: -110px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;
    background-position-y: 0;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 258px 286px;
  background-position-y: 108px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    align-items: flex-start;
    flex-direction: row-reverse;
    min-height: 620px;
    background-image: url("../img/iphone-hand-tablet@1x.png ");
    background-size: 700px 545px;
    background-position: bottom;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 745px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-position-x: 27px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 395px;
  padding: 27px 0 32px;
  width: 100%;
  min-height: 271px;
  background-color: #1d2631;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 90px;
    margin-right: auto;
    margin-bottom: 110px;
    padding: 0;
    width: 300px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-top: 218px;
    margin-bottom: 121px;
    min-height: 510px;
  }
}

.download__tagline {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text-style-base(40px, 300, 1.2, $color-text-light);
    display: block;
    margin-bottom: 32px;
    max-width: 200px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-light);
    margin-bottom: 51px;
    padding: 0;
    max-width: 250px;
  }
}

.download__link {
  margin-bottom: 32px;
  min-width: 274px;
  height: 51px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    min-width: 294px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.download__store-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 205px;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 0 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.download__description {
  @include text-style-base(14px, 300, 24px, $color-text-light);
  margin: 0;
  width: 240px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 300, 24px, $color-text-light);
    width: 300px;
  }
}
