.fieldset {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 60px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  &--name {
    padding: 0 20px 40px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      flex-basis: 435px;
      margin-top: -17px;
      margin-bottom: 50px;
      width: auto;
    }
  }

  &--achievements {
    position: relative;
    padding: 115px 0 41px;
    background-color: $color-background-dark;

    @media (min-width: $tablet-width) {
      order: 4;
      padding: 52px 37px 45px;
      border: 2px solid $color-grey;
      background-color: $color-background-light;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 0 51px 56px;
    }
  }

  &--contacts {
    padding: 38px 20px 40px;

    @media (min-width: $tablet-width) {
      position: relative;
      order: 3;
      margin-bottom: 65px;
      padding: 45px 58px 18px 57px;
      border: 2px solid $color-grey;
    }

    @media (min-width: $desktop-width) {
      padding: 41px 58px 25px 57px;
      width: 100%;
    }
  }

  &--apps {
    position: relative;
    align-items: flex-start;
    padding: 116px 0 36px;
    background-color: $color-background-dark;

    @media (min-width: $tablet-width) {
      width: 100%;
      order: 2;
      align-items: flex-start;
      padding: 55px 60px 48px 39px;
      border: 2px solid $color-grey;
      background-color: $color-background-light;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 0;
      flex-shrink: 1;
      padding: 55px 61px 50px 55px;
      width: 435px;
    }
  }

  &--impressions {
    padding: 15px 20px 0;

    @media (min-width: $tablet-width) {
      order: 5;
      padding: 44px 57px 49px;
      border: 2px solid $color-grey;
    }

    @media (min-width: $desktop-width) {
      padding: 41px 57px 40px;
      width: 100%;
    }
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;

  &--achievements {
    align-items: flex-start;
    background-color: $color-background-dark;

    @media (min-width: $tablet-width) {
      align-items: flex-start;
      background-color: $color-background-light;
    }

    @media (min-width: $desktop-width) {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.fieldset__legend {
  @include text-style-base(14px, 400, 18px, $color-brand);
  display: inline-block;
  align-self: center;
  margin: 0 auto;
  padding: 0 45px 42px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    @include text-style-base(14px, 400, 30px, $color-brand);
    position: absolute;
    padding: 0 20px;
    width: auto;
  }

  &--contacts {
    display: none;
    background-color: $color-background-light;

    @media (min-width: $tablet-width) {
      display: block;
      position: absolute;
      top: -15px;
      left: 189px;
    }

    @media (min-width: $desktop-width) {
      left: 347px;
    }
  }

  &--achievements {
    position: absolute;
    top: 40px;
    max-width: 320px;

    @media (min-width: $tablet-width) {
      top: -16px;
      left: 102px;
      max-width: 660px;
    }

    @media (min-width: $desktop-width) {
      left: 260px;
      max-width: 960px;
    }
  }

  &--apps {
    position: absolute;
    top: 40px;

    @media (min-width: $tablet-width) {
      top: -18px;
      left: 128px;
    }

    @media (min-width: $desktop-width) {
      left: 43px;
      width: auto;
      max-width: 433px;
      padding: 0 13px;
    }
  }

  &--impressions {
    padding-top: 38px;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      top: -17px;
      left: 206px;
      padding: 0 10px;
      background-color: $color-background-light;
    }

    @media (min-width: $desktop-width) {
      left: 333px;
      padding: 0 40px;
    }
  }
}
