.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $font-base;
  background-color: $color-background-light;
}

.form__wrapper {
  background-color: $color-background-dark;
}

.form__fieldset {
  @include mobile-align;
  border: none;
}

.form__fieldset--name {
  min-height: 275px;
}

.form__fieldset--achievements {
  min-height: 605px;
}

.form__fieldset--contacts {
  min-height: 300px;
}

.form__fieldset--apps {
  min-height: 340px;
}

.form__fieldset--impressions {
  min-height: 295px;
}

.form__legend {
  @include text-style-base(14px, 400, 18px, $color-brand);
  text-transform: uppercase;
  text-align: center;
}

.form__item-text {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
}

.form__item-checkbox {
  margin: 0;
}

.form__item-radio {
  margin: 0;
}

.form__item-textarea {
  margin: 0;
}

.form__label-text {
  @include text-style-base(14px, 400, 30px, $color-brand);
  padding-left: 20px;
  text-transform: uppercase;
}

.form__label-radio,
.form__label-checkbox {
  @include text-style-base(18px, 400, 30px, $color-text-base);
}

.form__input-text {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  margin: 0;
  padding: 10px 15px;
  border: 2px solid #e5e5e5;
  font-family: $font-base;
  background-color: $color-background-light;

  &::placeholder {
    color: $color-text-base;
  }
}

.form__input-textarea {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  padding: 10px 15px;
  border: 2px solid #e5e5e5;
  font-family: $font-base;
  background-color: $color-background-light;

  &::placeholder {
    color: $color-text-base;
  }
}

.form__clarification {
  margin: 0;
}

.form__wrapper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .form {
    @include tablet-align;
  }

  .form__wrapper {
    background-color: $color-background-light;
  }

  .form__fieldset {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .form__fieldset--name {
    min-height: 360px;
    order: 1;
  }

  .form__wrapper--achievements {
    min-height: 615px;
    order: 4;
  }

  .form__fieldset--contacts {
    min-height: 380px;
    order: 3;
  }

  .form__wrapper--apps {
    min-height: 360px;
    order: 2;
  }

  .form__fieldset--impressions {
    min-height: 355px;
    order: 5;
  }

  .form__wrapper-footer {
    flex-direction: row;
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .form {
    @include desktop-align;
    flex-direction: row;
  }

  .form__fieldset--name {
    min-height: 380px;
    order: 1;
    flex-basis: 435px;
  }

  .form__wrapper--achievements {
    min-height: 615px;
    order: 4;
    width: 100%;
  }

  .form__fieldset--contacts {
    min-height: 380px;
    order: 3;
    width: 100%;
  }

  .form__wrapper--apps {
    min-height: 360px;
    order: 2;
    flex-basis: 435px;
  }

  .form__fieldset--impressions {
    min-height: 355px;
    order: 5;
    width: 100%;
  }

  .form__wrapper-footer {
    flex-direction: row;
    order: 6;
  }
}
