.form-button {
  @include text-style-base(18px, 700, 30px, $color-text-light);
  padding: 0;
  min-width: 280px;
  min-height: 60px;
  border: none;
  border-radius: 2px;
  font-family: $font-base;
  text-transform: uppercase;
  background-color: $color-btn-form;

  @media (min-width: $tablet-width) {
    min-width: 299px;
    min-height: 63px;
  }

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($color-text-light, 0.3);
    background-color: #1c9b5e;
  }
}
