.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-base;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

//филдсеты с текстовыми полями
.form__text-item {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    align-items: center;
  }

  &--name {
    @media (min-width: $tablet-width) {
      &:not(:last-of-type) {
        margin-bottom: 55px;
      }
    }

    @media (min-width: $desktop-width) {
      &:not(:last-of-type) {
        margin-bottom: 58px;
      }
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;

      &:not(:last-of-type) {
        margin-bottom: 35px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 375px;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 375px;

      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }
}

.form__text-label {
  @include text-style-base(14px, 400, 1, $color-brand);
  margin-bottom: 13px;
  margin-left: 17px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 15px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.form__text-input {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  padding: 15px 20px;
  width: 100%;
  min-height: 60px;
  border: 2px solid $color-grey;
  font-family: $font-base;
  background-color: $color-background-light;

  &::placeholder {
    color: $color-text-base;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 15px;
    }
  }
}

//филдсеты с чекбоксами
.form__checkbox-item {
  @include text-style-base(18px, 400, 30px, $color-text-base);
  padding-left: 20px;
  margin: 0;
  min-height: 40px;

  &:not(:last-of-type) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    &:not(:last-of-type) {
      margin-bottom: 35px;
    }

    &:nth-of-type(even) {
      margin-bottom: 0;
    }
  }
}

//филдсеты с радиокнопками
.form__radio-item {
  @include text-style-base(18px, 400, 30px, $color-text-base);
  padding-left: 20px;
  margin: 0;
  min-height: 40px;

  &:not(:last-of-type) {
    margin-bottom: 43px;
  }
}

//филдсет textarea
.form__textarea-input {
  @include text-style-base(18px, 400, 30px, $color-text-base);
  padding: 15px 20px;
  width: 100%;
  height: 200px;
  border: 2px solid $color-grey;
  font-family: $font-base;
  background-color: $color-background-light;

  &::placeholder {
    color: $color-text-base;
  }
}

.form__clarification {
  margin: 0;
  text-transform: uppercase;

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}

.form__wrapper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 25px 20px 45px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    order: 6;
    padding: 0 0 45px;
  }
}

.form__submit {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
