.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-base;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.header-main__title {
  @include text-style-base(24px, 300, 1.2, $color-text-light);
  display: block;
  margin: 31px 20px 81px;
  width: 235px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-light);
    margin: 69px 20px 139px;
    width: 495px;
  }

  @media (min-width: $desktop-width) {
    margin: 171px 10px 103px;
    padding: 0 45px;
    width: 747px;
  }

  &--form {
    margin: 31px 20px 54px;

    @media (min-width: $tablet-width) {
      margin: 68px 20px 80px;
    }

    @media (min-width: $desktop-width) {
      margin: 172px 20px 102px;
      width: 840px;
    }
  }
}

.header-main__wrapper {
  width: 100%;
  background-color: $color-background-light;
}

.header-main__description {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  margin: auto;
  padding: 46px 20px 48px;
  background-color: $color-background-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    padding: 94px 85px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 92px 160px 87px;
  }

  &--form {
    padding: 46px 20px 40px;

    @media (min-width: $tablet-width) {
      padding: 94px 56px 71px;
    }

    @media (min-width: $desktop-width) {
      padding: 94px 90px 78px;
    }
  }
}

.header-main__form {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
