.header-main {
  display: flex;
  flex-direction: column;
  margin-top: -68px;
  min-height: 421px;
  font-family: $font-base;
}

.header-main__wrapper {
  display: flex;
  width: 100%;
  min-height: 237px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b3849;
}

.header-main__title {
  @include text-style-base(24px, 300, 1.2, $color-text-light);
  display: inline-block;
  margin: auto;
  text-align: center;
}

.header-main__description {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  margin: auto;
  background-color: $color-background-light;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .header-main {
    margin-top: -110px;
    min-height: 668px;
  }

  .header-main__wrapper {
    min-height: 440px;
  }
}

@media (min-width: $desctop-width) {
  .header-main {
    min-height: 633px;
  }

  .header-main__wrapper {
    min-height: 393px;
  }
}
