.header-main {
  display: flex;
  flex-direction: column;
  font-family: $font-base;
}

.header-main__wrapper {
  display: flex;
  width: 100%;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b3849;
}

.header-main__title {
  @include text-style-base(24px, 300, 1.2, $color-text-light);
  display: inline-block;
  margin: auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-light);
  }
}

.header-main__description {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  margin: auto;
  background-color: $color-background-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
  }
}

.header-main__form {
  display: none;
}
