.main-description {
  width: 100%;
  background-color: $color-background-light;
  font-family: $font-base;
}

.main-description__text {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  margin: auto;
  padding: 46px 20px 50px;
  background-color: $color-background-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    padding: 94px 85px 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 92px 168px 87px;
  }

  &--form {
    padding: 46px 20px 42px;

    @media (min-width: $tablet-width) {
      padding: 94px 56px 71px;
    }

    @media (min-width: $desktop-width) {
      padding: 94px 90px 78px;
    }
  }
}

.main-description__form {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
