.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-base;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 462px;
  background-position-y: -66px;
  background-color: #2c3c4c;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;
    background-position-y: -110px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px 853px;
    background-position-y: 14px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.main-header__title {
  @include text-style-base(24px, 300, 1.2, $color-text-light);
  display: block;
  margin: 29px 20px 83px;
  width: 235px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(50px, 300, 1.2, $color-text-light);
    margin: 69px 20px 139px;
    width: 495px;
  }

  @media (min-width: $desktop-width) {
    margin: 171px 10px 103px;
    padding: 0 45px;
    width: 747px;
  }

  &--form {
    margin: 31px 20px 54px;

    @media (min-width: $tablet-width) {
      margin: 68px 20px 80px;
    }

    @media (min-width: $desktop-width) {
      margin: 172px 20px 102px;
      width: 840px;
    }
  }
}
