.map {
  min-height: 198px;

  @media (min-width: $tablet-width) {
    height: 373px;
  }

  @media (min-width: $desktop-width) {
    height: 486px;
  }
}

.map__image {
  min-width: 320px;
  max-width: 1200px;
  height: 100%;
  background-color: #dce6c9;
}
