.map {
  position: relative;
  width: 100%;
  min-height: 198px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 371px;
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 486px;
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1px;
    left: 0;
    width: 100%;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: -2px;
      height: 70px;
    }

    @media (min-width: $desktop-width) {
      height: 101px;
    }

    @media (min-width: 1200px) {
      height: 126px;
    }
  }
}

.map__google {
  width: 100%;
  min-height: 198px;

  @media (min-width: $tablet-width) {
    min-height: 371px;
  }

  @media (min-width: $desktop-width) {
    height: 486px;
  }
}
