.map {
  min-height: 198px;
}

.map__image {
  min-width: 320px;
  max-width: 1200px;
  height: 100%;
  background-color: #dce6c9;
}

@media (min-width: $tablet-width) {
  .map {
    height: 373px;
    background-color: green;
  }
}

@media (min-width: $desktop-width) {
  min-height: 504px;
}
