.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  padding: 40px 20px 50px;
  font-family: $font-base;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding: 40px 80px 52px;
  }

  &--error {
    position: fixed;
    top: 20px;

    @media (min-width: $desktop-width) {
      left: 50%;
      margin-left: -230px;
    }
  }

  &--success {
    position: fixed;
    top: 20px;

    @media (min-width: $desktop-width) {
      left: 50%;
      margin-left: -380px;
      width: 760px;
      padding: 45px 160px 52px;
    }
  }
}

.modal__title {
  @include text-style-base(18px, 700, 24px, $color-black);
  margin: 0 0 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(30px, 700, 40px, $color-black);
    width: 220px;
  }

  &--success {
    @media (min-width: $desktop-width) {
      width: 430px;
    }
  }
}

.modal__description {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0 0 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 24px, $color-text-base);
  }
}

.modal__button-wrapper {
  margin: 0 -20px -52px;
  padding: 48px 20px 52px;
  background-color: $color-background-dark;

  @media (min-width: $tablet-width) {
    margin: 0 -80px -52px;
    padding: 48px 80px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -160px -52px;
    padding: 45px 160px 52px;
  }
}

.modal__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--success {
    @media (min-width: $desktop-width) {
      width: 440px;
    }
  }
}
