.name {
  padding: 0 20px 40px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-basis: 435px;
    margin-bottom: 50px;
    width: auto;
  }
}
//
// .name__item {
//   @media (min-width: $tablet-width) {
//     &:not(:last-of-type) {
//       margin-bottom: 55px;
//     }
//   }
//
//   @media (min-width: $desktop-width) {
//     &:not(:last-of-type) {
//       margin-bottom: 58px;
//     }
//   }
// }
