.page-footer {
  @include align-block;
  display: flex;
  justify-content: space-between;
  font-family: $font-base;
  background-color: $color-background-light;
}

.page-footer--index {
  display: none;
}

.page-footer__logo-link {
  width: 147px;
  height: 40px;
}

.page-footer__developed {
  @include text-style-base(14px, 400, 18px, $color-text-base);
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 127px;
  }

  .page-footer--index {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desctop-width) {
  .page-footer {
    min-height: 197px;
  }
}
