.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 39px 40px;
  font-family: $font-base;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 35px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 9px;
  }

  &--index {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      padding: 73px 9px;
      min-height: 197px;
    }
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding: 21px 9px 70px;
    }
  }
}

.page-footer__logo-link {
  width: 147px;
  min-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    min-height: 55px;
  }
}

.page-footer__logo-image {
  fill: $color-secondary;

  &:hover,
  &:focus {
    fill: $color-brand;
  }

  &:active {
    fill: $color-secondary;
    opacity: 0.3;
  }
}

.page-footer_logo-mobile {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer_logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-footer__developed {
  display: flex;
  align-items: center;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-footer__text {
  @include text-style-base(14px, 400, 18px, $color-text-base);
  margin-right: 1px;

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 400, 18px, $color-text-base);
  }
}

.page-footer__academy-image {
  margin-top: 9px;
  margin-right: -5px;
  margin-left: 5px;
  width: 40px;
  height: 41px;
  fill: $color-brand;

  &:hover,
  &:focus {
    fill: $color-secondary;
  }

  &:active {
    fill: $color-secondary;
    opacity: 0.3;
  }
}
