.page-header {
  background-color: $color-secondary;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper-logo {
  @include mobile-align;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper-logo {
    @include tablet-align;
    height: 109px;
  }
}

@media (min-width: $desctop-width) {
  .page-header__wrapper {
    @include desctop-align;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__wrapper-logo {
    margin: 0;
    padding: 0;
    width: auto;
    height: 110px;
  }

  .page-header__toggle {
    display: none;
  }
}
