.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: $font-base;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
  }

  &--index {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-footer__logo-link {
  width: 147px;
  height: 40px;
}

.page-footer__developed {
  display: flex;
  align-items: center;
}

.page-footer__text {
  @include text-style-base(14px, 400, 18px, $color-text-base);
  margin-right: 15px;
}
