.photo {
  font-family: $font-base;
  background-color: $color-background-light;
}

.photo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
  }
}

.photo__item {
  margin-bottom: 22px;
  background-color: $color-background-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    width: 300px;

    &:not(:nth-of-type(2n+2)) {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
    margin-bottom: 54px;

    &:nth-of-type(3n+3) {
      margin-right: 0;
    }
  }

  &--best {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 23px;
    background-color: $color-background-light;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      margin-bottom: 52px;
      overflow: hidden;
    }
  }
}

.photo__img {
  width: 280px;
  height: 180px;
  background-color: #454343;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 299px;
  }

  @media (min-width: $desktop-width) {
    height: 398px;
  }

  &--best {
    align-self: center;
    width: 100%;
    height: auto;
    background-color: #232a1d;

    @media (min-width: $tablet-width) {
      width: auto;
      height: 508px;
    }
  }
}

.photo__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 14px 15px 18px 15px;
  width: 280px;
  background-color: $color-background-dark;

  @media (min-width: $tablet-width) {
    padding: 22px 14px 22px 27px;
    width: auto;
    min-height: 153px;
  }

  &--best {
    position: relative;
    margin: 0 20px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      padding: 13px 27px 23px;
      min-height: auto;
    }

    @media (min-width: $desktop-width) {
      padding: 12px 31px 23px 27px;
      margin: 0 10px;
    }
  }
}

.photo__flag {
  @include text-style-base(12px, 700, 24px, $color-text-light);
  position: absolute;
  top: -140px;
  right: 0;
  padding-top: 5px;
  width: 140px;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-brand;

  @media (min-width: $tablet-width) {
    top: -454px;
  }

  @media (min-width: $desktop-width) {
    top: -456px;
  }
}

.photo__name {
  @include text-style-base(14px, 700, 24px, $color-text-base);
  margin-right: 5px;

  &--best {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }
}

.photo__time {
  @include text-style-base(12px, 300, 24px, $color-text-base);
  text-transform: uppercase;
}

.photo__comment {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  align-self: stretch;
  display: inline-block;
  margin-top: 0;
  margin-bottom: auto;
  width: 100%;

  &--best {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }
}

.photo__likes-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 7px;
    width: 100%;
  }

  &--best {
    @media (min-width: $tablet-width) {
      order: 2;
      justify-content: flex-start;
      width: auto;
    }
  }
}

.photo__like {
  margin-right: 18px;
  min-width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");

  &--best {
    @media (min-width: $tablet-width) {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

.photo__like-text {
  @include text-style-base(12px, 400, 24px, $color-brand);
  margin-right: 5px;
  text-transform: uppercase;
}

.photo__like-number {
  @include text-style-base(12px, 400, 24px, $color-brand);
}

.photo__appeal {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  padding-top: 23px;
  padding-bottom: 42px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    padding-top: 52px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-bottom: 67px;
  }
}
