.price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 47px;
  font-family: $font-base;
  background-color: $color-background-dark;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 146px;
    padding-bottom: 90px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    width: 100%;
    height: 33vw;
    background: linear-gradient(176deg, rgb(254, 254, 254) 46%, rgb(242, 242, 242) 0%);

    @media (min-width: $tablet-width) {
      top: -35px;
      height: 22vw;
    }

    @media (min-width: $desktop-width) {
      top: -170px;
      height: 39vw;
    }
  }
}

.price__list {
  margin-bottom: 40px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price__name /*ячейка названия тарифа*/ {
  @include text-style-base(18px, 700, 30px, $color-text-light);
  position: relative;
  min-width: 280px;
  height: 98px;
  text-transform: uppercase;
  border: 1px;
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    @include text-style-base(16px, 700, 30px, $color-text-light);
    min-width: 153px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 700, 30px, $color-text-light);
    min-width: 236px;
    height: 98px;
  }

  &--hit {
    position: relative;
  }

  &--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      visibility: hidden;
    }
  }
}

.price__flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;
  background: url("../img/bg-hit.svg");

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
    background: url("../img/bg-hit-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    width: 74px;
    height: 73px;
    background: url("../img/bg-hit.svg");
  }
}

.price__flag-text {
  @include text-style-base(14px, 700, 30px, $color-text-light);
  display: block;
  width: 100px;
  height: 104px;
  transform: rotate(-45deg);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 104px;
  }
}

.price__parameter-name /*ячейка названия параметра тарифа*/ {
  display: none;
  padding: 0 18px;
  min-height: 60px;
  border: 1px;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    display: table-cell;
    width: 156px;
    min-height: 47px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    min-height: 60px;
  }
}

.price__field /*внутренняя ячейка*/ {
  padding: 0 18px;
  height: 58px;
  text-align: left;
  vertical-align: middle;
  border: 1px;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    height: 45px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.price__value /*стоимость тарифа*/ {
  @include text-style-base(24px, 300, 30px, $color-text-light);
  display: block;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 300, 30px, $color-text-light);
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(24px, 300, 30px, $color-text-light);
  }
}

.price__parameter-text {
  @include text-style-base(14px, 300, 30px, $color-text-base);

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 300, 30px, $color-text-base);
  }
}

.price__text {
  @include text-style-base(14px, 300, 30px, $color-text-base);
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  min-width: 200px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__icon {
  width: 27px;
  height: 27px;
  fill: #3dc644;

  &--unincluded {
    fill: #f25b26;
  }
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
