.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 45px;
  font-family: $font-base;
  background-color: $color-background-dark;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 90px;
  }
}

.price__list {
  margin: 0 auto 35px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price__name /*ячейка названия тарифа*/ {
  @include text-style-base(18px, 700, 30px, $color-text-light);
  min-width: 280px;
  min-height: 98px;
  text-transform: uppercase;
  border: 1px;
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    @include text-style-base(16px, 700, 30px, $color-text-light);
    min-width: 155px;
    min-height: 78px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 700, 30px, $color-text-light);
    min-width: 236px;
    height: 100px;
  }

  &--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      visibility: hidden;
    }
  }
}

.price__parameter-name /*ячейка названия параметра тарифа*/ {
  display: none;
  padding: 0 18px;
  min-height: 60px;
  border: 1px;
  vertical-align: middle;
  background-color: $color-background-light;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: table-cell;
    width: 156px;
    min-height: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
    min-height: 60px;
  }
}

.price__field /*внутренняя ячейка*/ {
  padding: 0 18px;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  border: 1px;
  background-color: $color-background-light;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 46px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
  }
}

.price__value /*стоимость тарифа*/ {
  @include text-style-base(24px, 300, 30px, $color-text-light);
  display: block;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 300, 30px, $color-text-light);
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(24px, 300, 30px, $color-text-light);
  }
}

.price__parameter-text {
  @include text-style-base(14px, 300, 30px, $color-text-base);

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 300, 30px, $color-text-base);
  }
}

.price__text {
  @include text-style-base(14px, 300, 30px, $color-text-base);
  display: inline-block;
  margin: 0;
  min-width: 200px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__icon {
  width: 27px;
  height: 27px;
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
