.retouch {
  background-color: $color-background-dark;
  height: 757px;
}

.retouch__wrapper {
  @include align-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  height: 100%;
}

.retouch__redactor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 290px;
}

.retouch__redactor-btn {
  display: none;
}

.retouch__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.retouch__tool {
  display: block;
  width: 48px;
  height: 48px;
  background-color: $color-brand;
}

.retouch__range-item {
  width: 40px;
  height: 3px;
  background-color: $color-secondary;

  &:last-of-type {
    border-bottom: 2px solid #dddfe0;
  }
}

.retouch__buttons {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .retouch {
    height: 511px;
  }

  .retouch__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .retouch__photo {
    width: 300px;
    height: 400px;
  }

  .retouch__redactor {
    height: 405px;
  }

  .retouch__range-item {
    border-bottom: 2px solid #dddfe0;
  }
}

@media (min-width: $desctop-width) {
  .retouch {
    height: 514px;
    background-color: $color-background-light;
  }

  .retouch__wrapper {
    background-color: $color-background-dark;
  }

  .retouch__buttons {
    flex-direction: row;
  }
}
