.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 355px;
  font-family: $font-base;
}

.reviews__list {
  @include align-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__block {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  background-color: $color-background-light;
}

.reviews__text {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
  text-align: center;
}

.reviews__cite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__name {
  @include text-style-base(18px, 700, 24px, $color-text-black);
  font-style: normal;
  text-align: center;
}

.reviews__description {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  display: none;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews__block {
    flex-direction: column;
  }

  .reviews__description {
    display: block;
  }
}

@media (min-width: $desctop-width) {
  .reviews {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translate(-40px);
      width: 86px;
      height: 66px;
      background-color: $color-background-dark;
    }
  }

  .reviews__list {
    margin-top: 160px;
  }

  .reviews__toggles {
    display: none;
  }
}
