.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 40px;
  font-family: $font-base;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translate(-40px);
      width: 86px;
      height: 66px;
      background-color: $color-background-dark;
    }
  }
}

.reviews__list {
  display: flex;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin-top: 160px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.reviews__block {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  background-color: $color-background-light;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    max-width: 696px;
  }
}

.reviews__text {
  @include text-style-base(14px, 400, 24px, $color-text-base);
  margin: 0;
  margin-bottom: 65px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
    margin-bottom: 40px;
  }
}

.reviews__cite {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__name {
  @include text-style-base(18px, 700, 30px, $color-black);
  margin-bottom: 25px;
  font-style: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text-style-base(20px, 700, 30px, $color-black);
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(24px, 700, 30px, $color-black);
  }
}

.reviews__description {
  @include text-style-base(14px, 400, 30px, $color-text-base);
  display: none;
  font-style: normal;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    @include text-style-base(18px, 400, 30px, $color-text-base);
  }
}

.reviews__toggles {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
