.social {
  font-family: $font-base;
  background-color: $color-background-light;

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  &:not(:last-of-type) {
    margin-right: 12px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($color-secondary, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $color-secondary;
  }

  &:active {
    border-color: rgba($color-secondary, 0.1);

    svg {
      fill: rgba($color-brand, 0.1);
    }
  }

  svg {
    fill: $color-brand;
  }
}

.social__twitter {
  width: 18px;
  height: 14px;
}

.social__facebook {
  width: 9px;
  height: 18px;
}

.social__youtube {
  width: 15px;
  height: 13px;
}
