.social {
  font-family: $font-base;
  background-color: $color-background-light;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 51px;
  height: 51px;
  background-color: $color-inactive;

  &:not(:last-of-type) {
    margin-right: 12px;
  }
}
