.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.js-padding {
  padding-top: 66px;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
