@mixin text-style-base($size: 18px, $weight: 400, $line: 24px, $color: $color-text-base) {
  font: {
    size: $size;
    weight: $weight;
  }

  line-height: $line;
  color: $color;
}

@mixin align-block {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 20px;
    width: 660px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
    box-sizing: border-box;
  }
}

@mixin mobile-align {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
}

@mixin tablet-align {
  margin: 0 auto;
  padding: 0 20px;
  width: 660px;
  box-sizing: border-box;
}

@mixin desktop-align {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
  box-sizing: border-box;
}
