// Colors

$color-brand:                #d22856;
$color-secondary:            #283645;
$color-text-base:            $color-secondary;
$color-text-light:           #ffffff;
$color-text-black:           #000000;
$color-background-light:     $color-text-light;
$color-background-dark:      #f2f2f2;
$color-inactive:             #e9ebec;
$color-btn-form:             #2aab6d;

// Fonts

$font-base:   "Open Sans", arial, sans-serif;

// media sizes

$tablet-width: 660px;
$desctop-width: 960px;
