// Colors

$color-brand:                #d22856;
$color-secondary:            #283645;
$color-text-base:            #283645;
$color-text-light:           #ffffff;
$color-background-light:     #ffffff;
$color-background-dark:      #f2f2f2;
$color-inactive:             #e9ebec;
$color-btn-form:             #2aab6d;

// Fonts

$font-base:   'Open Sans', Arial, sans-serif;
