.download {
  display: flex;
  flex-direction: column;
  font-family: $font;
  @include text-style-base(14px, 300, 24px, #ffffff);
  background-color: #1d2631;
}

.download__preview {
  height: 462px;
  background-image: url("../sass/blocks/download/iphone-hand-mobile@1x.png"), url("../sass/blocks/download/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #1d2631;
}

.download__link {
  width: 277px;
  height: 51px;
  text-decoration: none;
}

.download__wrapper-store {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 210px;
  height: 56;
}

.download__description {
  margin: 0;
  text-align: center;
}
