@import "vendors/normalize/import-now";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/base.scss";
@import "global/fonts.scss";
@import "blocks/container.scss";
@import "blocks/toggles-radio.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-header.scss";
@import "blocks/main-description.scss";
@import "blocks/button.scss";
@import "blocks/form-button.scss";
@import "blocks/download.scss";
@import "blocks/advantages.scss";
@import "blocks/research.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";
@import "blocks/form.scss";
@import "blocks/fieldset.scss";
@import "blocks/modal.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/photo.scss";
@import "blocks/retouch.scss";
