.contacts {
  font-family: $font;
  background-color: $color-background-light;
}

.contacts__text {
  margin: 0;
  @include text-style-base(24px, 300, 1.2, $color-secondary);
  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  margin: 0;
  @include text-style-base(18px, 700, 1.2, #000000);
  font-style: normal;
  text-align: center;
}

.contacts__tel {
  margin: 0;
  @include text-style-base(24px, 300, 1.2, $color-brand);
  font-style: normal;
  text-decoration: none;
}

.contacts__email {
  margin: 0;
  @include text-style-base(24px, 300, 1.2, $color-brand);
  font-style: normal;
  text-decoration: none;
}

.contrasts__location {
  margin: 0;
  @include text-style-base(24px, 300, 1.2, $color-brand);
  font-style: normal;
  text-decoration: none;
}
